<!DOCTYPE>
<head>

    <title>Dummy Recipe</title>

    <style>

    hr.style14 {
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }


    </style>

   <script src="https://unpkg.com/vue/dist/vue.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
   <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
   <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

</head>

<div id="app">
  <v-app id="inspire" dark>
    <!-- sidebar -->
    <v-navigation-drawer
      clipped
      fixed
      v-model="drawer"
      app
    >
      <v-list dense>
        <v-list-tile v-for="item in items" :key="item.title" :href="item.href">

            <v-list-tile-action>
              <v-icon>[[item.icon]]</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>[[item.title]]</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <!-- top toolbar -->

    <v-toolbar app fixed clipped-left>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Recipe</v-toolbar-title>
    </v-toolbar>

    <!-- body content edit this guys -->
    <v-content>
      <v-container>
        <h2>
          Methos:
        </h2>
        <ul class="List">
          <li><span><span>1)</span></span>&nbsp;</span><span>xxxxxxxxxxxxxxxxxxxxxxxxxxx</span></li>
          <li><span><span>2)</span></span>&nbsp;</span><span>xxxxxxxxxxxxxxxxxxxxxxxxxxx</span></li>
          <li><span><span>3)</span></span>&nbsp;</span><span>xxxxxxxxxxxxxxxxxxxxxxxxxxx</span></li>
          <li><span><span>4)</span></span>&nbsp;</span><span>xxxxxxxxxxxxxxxxxxxxxxxxxxx</span></li>
          <li><span><span>5)</span></span>&nbsp;</span><span>xxxxxxxxxxxxxxxxxxxxxxxxxxx</span></li>
          <li><span><span>6)</span></span>&nbsp;</span><span>xxxxxxxxxxxxxxxxxxxxxxxxxxx</span></li>
        </ul>
      <h2>
        Ingredients:
      </h2>
      <ul class="List">
        <li class="IngredientLine">
          <span class="amount">
            <span data-singular="false">
              <span>4</span>
            </span>&nbsp;</span>
          <span class="ingredient">boneless skinless chicken breasts </span>
          <span class="remainder">(that have been pounded to even thickness and brined in saltwater, *see easy instructions below)</span>
        </li>
        <li class="IngredientLine">
          <span class="amount">
            <span data-singular="false">
              <span>4</span>
            </span>&nbsp;</span>
          <span class="unit">cloves </span>
          <span class="ingredient">garlic </span>
          <span class="remainder">(peeled and minced)</span>
        </li>
        <li class="IngredientLine">
          <span class="amount">
            <span data-singular="false">
              <span>3</span>
            </span>&nbsp;</span>
          <span class="unit">tablespoons </span>
          <span class="ingredient">melted butter </span>
        </li>
        <li class="IngredientLine">
          <span class="amount">
            <span data-singular="false">
              <span>2</span>
            </span>&nbsp;</span>
          <span class="unit">tablespoons </span>
          <span class="ingredient">lemon juice </span>
          <span class="remainder">(freshly-squeezed)</span>
        </li>
        <li class="IngredientLine">
          <span class="amount">
            <span data-singular="true">
              <span>1</span>
            </span>&nbsp;</span>
          <span class="unit">teaspoon </span>
          <span class="ingredient">fresh thyme leaves </span>
        </li>
        <li class="IngredientLine">
          <span class="amount">
            <span data-singular="true">
              <span>1</span>
            </span>&nbsp;</span>
          <span class="unit">teaspoon </span>
          <span class="ingredient">kosher salt </span>
        </li>
        <li class="IngredientLine">
          <span class="amount">
            <span data-singular="true">
              <span class="numerator">1</span>
              <span class="solidus">/</span>
              <span class="denominator">2</span>
            </span>&nbsp;</span>
          <span class="unit">teaspoon </span>
          <span class="ingredient">cracked black pepper </span>
          <span class="remainder">(freshly-)</span>
        </li>
        <li class="IngredientLine">
          <span class="ingredient">lemon slices </span>
        </li>
        <li class="IngredientLine">
          <span class="ingredient">thyme sprigs </span>
        </li>
      </ul>
      <v-flex xs12 sm4 text-xs-center>
        <div  class="text-xs-center">
            <v-btn small color="primary" >
              <v-icon>thumb_up</v-icon>Like</v-btn>
              <v-btn small color="primary">
              <v-icon>share</v-icon>Share</v-btn>
              <v-btn small color="primary"  >
              <v-icon>edit</v-icon>Comment</v-btn>
        </div>
      </v-flex>

      </v-container>

    </v-content>

    <!-- footer -->
    <v-footer app fixed>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</div>


<script>

   var drawer = new Vue({

   el: '#app',
   delimiters: ["[[", "]]"],
   data() {

      return{

        user_ID: sessionStorage.user,

        role: sessionStorage.role,

        drawer:false,

        //icons to be displaced in drawer
        items: [

          { title: 'Dashboard', icon: 'dashboard', href:'/wireframe' },
          { title: 'My Posted Recipes', icon: 'book', href:'/admin/surveys' },
          { title: 'Search', icon: 'assignment', href:'/admin/questions' },
          { title: 'My Planner', icon: 'assignment', href:'/admin/metric' },
          { title: 'Add Recipe', icon: 'assignment', href:'/wireframe/add_recipe'},


         ],
        options: [
         { id: 'View surveys', name: 'View all avaliable surveys created.', href: '/admin/surveys'},
         { id: 'Question Pool', name: 'Add, edit or delete questions.', href: '/admin/questions'},
         { id: 'Metric', name: 'View results to current surveys', href: '/admin/metric'}
         ],

        right: null,

        status:'Admin Login',

        url:'static/staff_profile.jpg'

      }

   },
   methods: {
      funcLogout: function (event) {
         sessionStorage.removeItem('token');
         sessionStorage.removeItem('user');
         axios.get(
            '/logout',
         )
         .then((response) => {
            window.location.href = response.data;
         })
      }
   }

   })
</script>
<div class="recipe-ingredients wrapper">
  <h3>Ingredients</h3>
  <div class="share-recipe">
    <div class="share-button">
      <span class="y-icon share" data-icon="<"></span>
      <a href="http://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.yummly.com%2Frecipe%2FBaked-Lemon-Chicken-1623832"
        target="popup" class="sharing-options">
        <span class="y-icon facebook" data-icon="f"></span>
      </a>
      <a href="https://twitter.com/intent/tweet?source=webclient&amp;text=Baked%20Lemon%20Chicken https%3A%2F%2Fwww.yummly.com%2Frecipe%2FBaked-Lemon-Chicken-1623832"
        target="popup" class="sharing-options">
        <span class="y-icon twitter" data-icon="t"></span>
      </a>
      <a href="https://plus.google.com/share?url=https%3A%2F%2Fwww.yummly.com%2Frecipe%2FBaked-Lemon-Chicken-1623832" target="popup"
        class="sharing-options">
        <span class="y-icon google" data-icon="g"></span>
      </a>
      <a href="http://pinterest.com/pin/create/link/?url=https%3A%2F%2Fwww.yummly.com%2Frecipe%2FBaked-Lemon-Chicken-1623832&amp;media=https%3A%2F%2Flh3.googleusercontent.com%2FrqQsCUZZ6qjT2qkUrHja6LpVrJPdsd-01R5I4weG1VWfJs3MfUhdJX9eCve4QWO7mk7-cHZOVKBPNP12aksCG9I&amp;description=Baked%20Lemon%20Chicken"
        target="popup" class="sharing-options">
        <span class="y-icon pinterest" data-icon="p"></span>
      </a>
    </div>
  </div>
  <div class="print-recipe">
    <a href="https://www.yummly.com/recipe/Baked-Lemon-Chicken-1623832#print" target="_blank" rel="noopener">
      <span class="y-icon printer" data-icon="▤"></span>
    </a>
  </div>
  <div class="servings">
    <label>servings:
      <input type="text" value="4"> </label>
    <span class="y-icon pencil-icon" data-icon="✎"></span>
  </div>
  <div class="units units-imperial">
    <button class="first" data-units="IMPERIAL">US</button>
    <button class="last" data-units="METRIC">METRIC</button>
  </div>
  <ul class="List">
    <li class="IngredientLine">
      <span class="amount">
        <span data-singular="false">
          <span>4</span>
        </span>&nbsp;</span>
      <span class="ingredient">boneless skinless chicken breasts </span>
      <span class="remainder">(that have been pounded to even thickness and brined in saltwater, *see easy instructions below)</span>
    </li>
    <li class="IngredientLine">
      <span class="amount">
        <span data-singular="false">
          <span>4</span>
        </span>&nbsp;</span>
      <span class="unit">cloves </span>
      <span class="ingredient">garlic </span>
      <span class="remainder">(peeled and minced)</span>
    </li>
    <li class="IngredientLine">
      <span class="amount">
        <span data-singular="false">
          <span>3</span>
        </span>&nbsp;</span>
      <span class="unit">tablespoons </span>
      <span class="ingredient">melted butter </span>
    </li>
    <li class="IngredientLine">
      <span class="amount">
        <span data-singular="false">
          <span>2</span>
        </span>&nbsp;</span>
      <span class="unit">tablespoons </span>
      <span class="ingredient">lemon juice </span>
      <span class="remainder">(freshly-squeezed)</span>
    </li>
    <li class="IngredientLine">
      <span class="amount">
        <span data-singular="true">
          <span>1</span>
        </span>&nbsp;</span>
      <span class="unit">teaspoon </span>
      <span class="ingredient">fresh thyme leaves </span>
    </li>
    <li class="IngredientLine">
      <span class="amount">
        <span data-singular="true">
          <span>1</span>
        </span>&nbsp;</span>
      <span class="unit">teaspoon </span>
      <span class="ingredient">kosher salt </span>
    </li>
    <li class="IngredientLine">
      <span class="amount">
        <span data-singular="true">
          <span class="numerator">1</span>
          <span class="solidus">/</span>
          <span class="denominator">2</span>
        </span>&nbsp;</span>
      <span class="unit">teaspoon </span>
      <span class="ingredient">cracked black pepper </span>
      <span class="remainder">(freshly-)</span>
    </li>
    <li class="IngredientLine">
      <span class="ingredient">lemon slices </span>
    </li>
    <li class="IngredientLine">
      <span class="ingredient">thyme sprigs </span>
    </li>
  </ul>
</div>
